{% extends "layout.html" %}

{% load static  %}

{% block title %}
    COURSES AVAILABLE
{% endblock  %}

{% block content %}
    <h1 style="text-align: center; padding-top: 20px;">Choose Your Path</h1><br><br>
    {% if user.is_authenticated %}
    <!-- Track section -->
    <div class="track_section">
         <div class="track_cards">
            {% for track in tracks %}
            <div class="track_card">
            <a href="{% url 'courses:track_detail' track.pk %}">
                {{ track.title }}
            </a>
            </div>
            {% empty %}
                No tracks available.
            {% endfor %}
        </div>
         <div >
        <br>
        <div class="high_score_section"> 
    <h2 class="text-center mb-3">High Scoring Students (≥ 60%)</h2>

    {% if high_scorers %}
        <div class="scroll_box">
            <table class="table table-bordered table-striped text-center align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Student Name</th>
                        <th>Average Percentage</th>
                        <th>Tracks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in high_scorers %}
                        <tr>
                            <td>{{ s.full_name }}</td>
                            <td>{{ s.avg_percentage|floatformat:2 }}%</td>
                            <td>
                                {% for m in s.marks.all %}
                                    {{ m.course.track.title }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No students have 60% or above yet.</p>
    {% endif %}
</div>
        {% else %}
            <p>Please log in to see the available tracks.</p>
    {% endif %}
{% endblock %}

