{% extends "layout.html" %}

{% load static  %}

{% block title %}
    COURSES AVAILABLE
{% endblock  %}

{% block content %}
    <h1 style="text-align: center;">Choose Your Path</h1><br><br>
    {% if user.is_authenticated %}
         <div class="track_cards">
            {% for track in tracks %}
            <div class="track_card">
            <a href="{% url 'courses:track_detail' track.pk %}">
                {{ track.title }}
            </a>
            </div>
            {% empty %}
                No tracks available.
            {% endfor %}
         <div >

        {% else %}
            <p>Please log in to see the available tracks.</p>
    {% endif %}
{% endblock %}

